<div class="bg-black-dark shadow-2sm p-2 md:p-4 lg:p-6 xl:p-8 2xl:p-10 rounded-10 w-full">
  <div class="flex flex-wrap mb-4">
    <div class="w-full flex flex-wrap p-2 sm:pr-16 border rounded-5 relative">
      <div class="w-full md:w-5/12 p-2">
        <div class="flex">
          <label class="field-lbl w-28 sm:w-32 md:w-36 min-w-[112px] sm:min-w-[128px] md:min-w-[144px]" for="media"
            [ngClass]="{ 'field-error': isSubmitted && !fileInput.value }">
            {{ 'artefact.video' | translate }}
          </label>
          <input class="form-field py-1" type="file" (change)="onFileChange($event,mediaType.VIDEO)"
            [accept]="videoType" [ngClass]="{ 'field-error': isSubmitted && !fileInput.value }" #fileInput>
        </div>
        <i class="text-grey-light text-xs">{{ 'common.fileHintWithoutRatio' | translate: {
          extension: videoFormat, size: videoSize } }}</i>
      </div>
      <div class="w-full md:w-5/12 p-2">
        <div class="flex">
          <label class="field-lbl w-28 sm:w-32 md:w-36 min-w-[112px] sm:min-w-[128px] md:min-w-[144px]" for="media"
            [ngClass]="{ 'field-error': isSubmitted && !imageInput.value }">
            {{ 'artefact.image' | translate }}
          </label>
          <input class="form-field py-1" type="file" [accept]="imageType"
            (change)="onFileChange($event, mediaType.IMAGE)"
            [ngClass]="{ 'field-error': isSubmitted && !imageInput.value }" #imageInput>
        </div>
        <i class="text-grey-light text-xs">{{ 'common.fileHint' | translate: { extension:imageFormat, size:imageSize,
          ratio: imageRatio } }}</i>
      </div>
      <div class="flex p-2">
        <app-vc-button [class]="{ 'common-btn primary-btn font-semibold rounded-5 min-w-[100px]' : true }"
          (buttonTap)="save()" [isDisabled]="loader" [spin]="loader"> {{ 'common.submit' | translate }}
        </app-vc-button>
      </div>
    </div>
    @for (video of videoList; track video; let i = $index; let last = $last) {
    @if (video) {
    <div class="flex items-center justify-between mt-1 w-full p-3 bg-black-dark shadow-md rounded-lg">
      <div class="flex items-center">
        <div class="bg-primary rounded-full p-2">
          <app-svg-icon name="video_upload" class="text-white" />
        </div>
        <p class="ml-4 cursor-pointer text-primary" (click)="previewVideo(video)" (keypress)="previewVideo(video)"
          role="none">
          {{ video.url | extractFileName }}
        </p>
      </div>
      <div class="w-14 h-14">
        <img class="w-full aspect-square object-contain h-100" [src]="video.coverUrl" [alt]="video.coverUrl">
      </div>
      <div>
        <app-vc-button [class]="{ 'bg-red text-white rounded-md p-2' : true }" (buttonTap)="deleteVideo(video)">
          <app-svg-icon name="delete" />
        </app-vc-button>
      </div>
    </div>
    }
    }
  </div>
</div>
